<div class="full">
  <div class="row fh vertical center">
    <div class="row fw center ">
      <div class="card" style="padding: 2em; 
      margin-top: -20%;">

        <div class="fw center text-center">
          <img src="./assets/icons/ic_inspect.png" style="height: 100px;">
          <h2 style="width: 100%; font-weight: 500;">Coney Inspect</h2>
        </div>

        <div class="row fw center">
          <p class="fw" style="color: #c72828" *ngIf="invalidLogin">Wrong credentials</p>
        </div>
        
        <div class="form-group justify-content-center">
          <form class="row">
            <div class="fw center text-center">
              <mat-form-field>
                <input matInput type="text" placeholder="username" name="username" [(ngModel)]="username">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput type="password" placeholder="password" name="password" [(ngModel)]="password">
              </mat-form-field>
              <br>
              <mat-progress-bar *ngIf="isLogging" style="width:100%" mode="indeterminate"></mat-progress-bar>
              <!-- Loading spinner -->
              <button mat-raised-button color="primary" *ngIf="!isLogging" (click)=checkLogin() class="mt-4"> Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>