.full {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: transparent;
  }
  
  .card {
    max-width: 320px;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  
  #coney-logo {
    height: 100px;
    width: auto;
    margin-top: 1.5rem;
  }
  
  .fw {
    width: 100%;
  }
  
  .bottom-row {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;
  }
  