<div class="full" (keyup.enter)="checkLogin()">
  <mat-card class="card">

    <img mat-card-image id="coney-logo" src="./assets/icons/ic_inspect.png" alt="Coney">

    <mat-card-content>

      <h2>Coney</h2>
      
      <h3 style="color: red; margin-bottom: 20px!important" *ngIf="invalidLogin">{{error}}</h3>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="" [(ngModel)]="username">
        <mat-icon class="material-icons-outlined" matSuffix>admin_panel_settings</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="" [(ngModel)]="password">
        <mat-icon class="material-icons-outlined" matSuffix>password</mat-icon>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
        <div class="bottom-row">
            <mat-progress-spinner 
            *ngIf="isLogging" 
            mode="indeterminate"
            diameter="40"
            strokeWidth="5"></mat-progress-spinner>

            <button 
            *ngIf="!isLogging" 
            mat-raised-button 
            color="primary" 
            (click)=checkLogin()
            type="submit" value="Submit">Login</button>
        </div>
     

      
    </mat-card-actions>
  </mat-card>
</div>
