<div id="convListDiv" class="text-center">

  <div class="row fw center" style="position: relative;">

    <h2 style="width: 100%;margin: 0px 0px 1rem  0.5rem!important; text-align: left;">Choose a conversation</h2>

    <button mat-icon-button id="filter-button" aria-label="Filter" title="Filters" 
    (click)="toggleFilters()" [class.mat-accent]="filtersOpened">
      <mat-icon>filter_list</mat-icon>
    </button>


    <form #filtersCont id="filters-cont" class="row fw" style="margin-top: 1rem!important; width: 100%" [class.open]="filtersOpened">
      <p style="margin-left: 1rem;
        margin-bottom: .5rem!important;
        color: gray;">Filters</p>
      <div class="flex-fw">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput id="titleInput" [(ngModel)]="titleValue" [ngModelOptions]="{standalone: true}" class="fw"
            type="text" (input)="titleSelectionChanged()">
        </mat-form-field>
      </div>

      <div class="flex-fw">
        <mat-form-field class="fw" appearance="outline">
          <mat-label>Projects</mat-label>
          <mat-select [(value)]="selectedProject" (selectionChange)="selectionChanged()">
            <mat-option *ngFor="let i of projects" [value]="i">
              {{i}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div id="convList">

    <p class="text-light text-center" *ngIf="!conversationsFound; else showConversations">No conversations found</p>

    <ng-template #showConversations>

      <div *ngFor="let conversation of conversations" (click)="conversationSelected(conversation)">

        <button mat-button type="button" style="width: 100%" class="text-left py-2">

          <div class="row"
            style="line-height: 1; margin-left: 2.5rem!important; padding-bottom: 1rem!important; padding-top: 1rem!important;">
            <h3 class="m-0">{{conversation.conversationTitle}}</h3>
            <p style="width: 100%; color: gray; text-align: left;" class="m-0"> {{conversation.projectName}} </p>
          </div>

          <p *ngIf="conversation.status == 'published'" class="px-2 status-indicator" style="background-color: #4caf50">
            P</p>
          <p *ngIf="conversation.status == 'saved'" class="px-2 status-indicator" style="background-color: #6c757d">S
          </p>
          <p *ngIf="conversation.status == 'unpublished'" class="px-2 status-indicator"
            style="background-color: #03a9f4">U</p>


        </button>
        <mat-divider></mat-divider>
      </div>
    </ng-template>

  </div>
</div>
