<div class="container" style="padding-top: 10rem;">

    <div id="chartsView" class="row fw"  *ngIf="view=='charts' || view=='report'" [@chartsAnimation]>

        <div class="col-xs-12 col-md-12 col-lg-12" *ngIf="parsedAnswers!=undefined">
            <app-language-section 
            [inputAnswers]="parsedAnswers.generic"
            [filtersCleared]="filtersCleared"
            (filterByLanguage)="filterByLanguage($event)">
            </app-language-section>
        </div>
    
    </div>

    <div id="chartsView" class="row fw"  *ngIf="view=='charts' && !noData && this.rawAnswers.length != 0">

        
        <div class="col-xs-12 col-md-12 col-lg-12"  [@chartsAnimation]>
            <app-intro-section 
            [inputAnswers]="parsedAnswers.generic" 
            [chartTheme]="chartTheme">
            </app-intro-section>
        </div>
       
        <div class="col-xs-12 col-md-12 col-lg-6" [@chartsAnimation]>
            <app-multiple-section 
            [inputAnswers]="parsedAnswers.closed" 
            [chartTheme]="chartTheme">
            </app-multiple-section>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-6" [@chartsAnimation]>
            <app-checkbox-section 
            [inputAnswers]="parsedAnswers.checkbox" 
            [chartTheme]="chartTheme">
            </app-checkbox-section>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-6" [@chartsAnimation]>
            <app-tags-section 
            [inputAnswers]="parsedAnswers.tags" 
            [chartTheme]="chartTheme">
            </app-tags-section>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-6" [@chartsAnimation]>
            <app-open-section 
            [inputAnswers]="parsedAnswers.open">
            </app-open-section>
        </div>
    </div>

    <div id="usersView" class="row fw" *ngIf="view=='users' && !noData" [@usersAnimation]>
        <div class="col-xs-12 col-md-12 col-lg-12">
            <app-users-section *ngIf="this.rawAnswers.length != 0" [inputAnswers]="parsedAnswers.users"></app-users-section>
        </div>
    </div>
    

    <div id="reportView" class="row fw" *ngIf="view=='report' && !noData" [@usersAnimation]>
        <div class="col-xs-12 col-md-12 col-lg-12">
          <app-report-section *ngIf="this.rawAnswers.length != 0" [inputAnswers]="parsedAnswers.all"></app-report-section>
        </div>
    </div>



    <div id="noDataView" class="row fw"  *ngIf="noData" style="padding-top: 25vh;">
        <div class="col-xs-12 col-md-12 col-lg-12 text-center">
            <h3 *ngIf="!noSurvey && !displayClearFilterButton">No answers recorded for this survey yet</h3>
            <h3 *ngIf="noSurvey">No survey selected</h3>
            <h3 *ngIf="displayClearFilterButton">No results match the chosen criteria</h3>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 text-center">
            <button mat-raised-button color="primary" *ngIf="!noSurvey && !displayClearFilterButton"
              (click)="backToSearch()">Change Survey</button>
              <button mat-raised-button color="primary" *ngIf="noSurvey"
              (click)="backToSearch()">Choose Survey</button>

              <button mat-raised-button color="primary" *ngIf="displayClearFilterButton"
              (click)="clearLanguageFilter()">Clear filters</button>
        </div>
    </div>

</div>


<!--buttons-->
<div id="commands-container">
    <ul class="m-2 p-2" id="commandsUl">
      
      <li class="nav-item">
        <button mat-button aria-label="Change survey" title="Change survey" (click)="backToSearch()">
            <mat-icon style="color: #4A5568; font-size: 20px">topic</mat-icon>
        </button>
      </li>
      <li class="nav-item">
        <button mat-button aria-label="Refresh data" title="Refresh data" (click)="refresh()">
            <mat-icon style="color: #4A5568; font-size: 20px">cached</mat-icon>
        </button>
      </li>
      <li class="nav-item">
        <button mat-button aria-label="Export data" title="Export data" (click)="export()">
            <mat-icon style="color: #4A5568; font-size: 20px">get_app</mat-icon>
        </button>
      </li>
      <li class="nav-item">
        <button *ngIf="view != 'report'"  mat-button aria-label="Show report" title="Show report" (click)="changeView('report')">
            <img src="./assets/icons/ic_report.svg" style="height: 20px">
        </button>
      </li>
      <li class="nav-item">
        <button *ngIf="view == 'charts' || view == 'report'" mat-button aria-label="switch to user view" (click)="changeView('users')"
        title="Users view">
        <mat-icon style="color: #4A5568; font-size: 20px">supervised_user_circle</mat-icon>
        </button>
      </li>
      <li class="nav-item">
        <button *ngIf="view == 'users' || view == 'report'" mat-button aria-label="switch to charts view" (click)="changeView('charts')"
        title="Charts view">
        <mat-icon style="color: #4A5568; font-size: 20px">table_chart</mat-icon>
    </button>
      </li>
    </ul> 
  </div>

<div id="fab-container" *ngIf="view == 'charts' && displayClearFilterButton">
    <div class="row center">

        <div id="fab-inner">


            <div *ngIf="displayClearFilterButton" class="row fw">
                <h5 (click)="clearLanguageFilter()" style="margin:0px!important; cursor: pointer; color:gray!important; width: 100%; text-align: center;">
                    <u>Clear filters</u>                    
                </h5>
            </div>


           
        </div>
    </div>
</div>