/* You can add global styles to this file, and also import other style files 

@import url("styles-coney-theme.css");
*/
@import url("./assets/font/font_stylesheet.css");
@import url("./assets/css/bootstrap.min.css");
@import url("./styles-rules.css");

/*Colors*/
:root{
    --primary-color: #2d3c76;
    --primary-hover: #2d3c76d9;
    --primary-active: #2d3c76d9;
    --primary-shadow: #2d3c7652;
    --accent-color: #ffc107;
    --text-color: rgb(33, 37, 41);
}

/*typography*/
p {
    margin-top: 0;
    margin-bottom: 0em!important;
    font-family: 'Euclid Circular A', Quicksand,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,  "Helvetica Neue", sans-serif!important;
}
h1, h2, h3, h4, h5{
    font-family: 'Euclid Circular A', Quicksand,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,  "Helvetica Neue", sans-serif!important;
    font-weight: 500!important;
    color: var(--text-color)!important;
}

h3 {
    font-size: 16px!important;
}
.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab, .mat-radio-button, .mat-slide-toggle-content,
.mat-body, .mat-body-1, .mat-typography {
    font-family: 'Euclid Circular A', Quicksand,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,  "Helvetica Neue", sans-serif!important; 
}

/*structure*/
html, body { height: 100%; }
body { margin: 0; 
    font-family: 'Euclid Circular A', Quicksand,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,  "Helvetica Neue", sans-serif!important; 
    background: url(./assets/other/pattern-coney-light.png);
}


/*SEARCH*/
#selectConvTab{
    display: flex;
    justify-content: center;
    padding-top: 7em;
}

#convListDiv{
    max-width: 750px;
    height: auto;
}

.status-indicator{
    color: white;
    border-radius: 50%;
    position: absolute;
    height: 3rem;
    width: 3rem;
    top: 2rem;
    left: .5rem;
    padding-left: .65rem;
    line-height: 2.3;
    padding-left: .5rem!important;
    padding-right: .5rem!important;
}

#convList{
    overflow-y: auto;
    max-height: 45vh;
    padding-bottom: 2rem;
    }

/* MATERIAL*/
.mat-select-value {
    line-height: 2!important;
    font-size: 16px!important;
    font-weight: 500!important;
}


/*elements*/
#otherList{
    list-style: circle!important;
    max-height: 15rem;
    overflow-y: auto;
    margin-top: 0;
}

/*FAB*/
#fab-container{
    position: fixed;
    top: 8rem;
    right: 1rem;
}
#fab-inner{
    background: white;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 2px #ccc;
}

/*intro*/
.gray{
    color: gray!important;
}
.text-center-full{
    width: 100%;
    text-align: center;
}

/*chip*/
.custom-chip{
    display: inline-flex;
    padding: 5px 12px;
    border-radius: 3rem;
    align-items: center;
    cursor: default;
    margin: 0px 5px;
    min-height: 2.5rem;
    height: 1px;
    background-color: #e0e0e0;
    color: rgba(0,0,0,.87);
    font-size: 14px;
    font-weight: 500;
    cursor:pointer;
}

.language-amount{
    background: var(--primary-color);
    color: white;
    width: 24px;
    display: inline-block;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
}

.displayed{
    background-color: #4A5568;
}
.displayed > span > mat-icon{
    color: white!important;
}

/*toastr*/
#toast-container{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

#toast-container > div {
    width: auto;
    width: fit-content;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 4px;
}

.toast-error{
    background-color: brown;
    color: white;
}

/*filters*/
#side-panel{
    background: white;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    box-sizing:border-box;
    position:absolute;
    top:300px;
    width:200px;
    height:48px;
    padding:0 20px;
    margin:0;
    cursor:pointer;
    border-radius:4px 4px 0px 0px;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    transform:rotate(-90deg);
    transform-origin:bottom left;
    color:white;
    text-decoration:none;
    z-index:9999;        
}

/*
colors
*/

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled),
.mat-form-field.mat-focused .mat-form-field-label {
    color: var(--primary-color);
}
.mat-raised-button.mat-primary, .mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: var(--primary-color)!important;
}

.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background,
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-primary .mat-ripple-element, .mat-checkbox:active:not(.mat-checkbox-disabled).mat-primary .mat-ripple-element {
    background-color: var(--primary-color)!important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: var(--accent-color)!important;
}

/*commang bar*/

@media only screen and (min-width: 769px){
    #commands-container{
      position: fixed;
      left: 4px;
      top: 50%;
      transform: translate(0%, -50%);
    }
  }
  

#commands-container > ul{
    list-style: none;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    padding: 1rem;

}

.nav-item > .mat-button, .mat-raised-button.mat-warn{
    padding: 0px 0px!important;
    min-width: 32px!important;
}

@media only screen and (max-width: 768px){

    #commandsUl{
        display: flex;
        margin-bottom: 0;
        justify-content: space-around;
        border-radius: 0!important;
    }

    #commands-container {
        position: fixed;
        left: 0px;
        justify-content: space-around;
        right: 0px;
        bottom: 0px;
    }
}


/*filters*/
@media only screen and (min-width: 1400px){
    #filters-tab{
            width: 300px;
            position: fixed!important;
            top: 50%;
            transform: translate(0%, -50%);
            right: 0;
            z-index: 50;
            padding: 0 3px 0 0!important;
    }
  }
  