<div id="loading" *ngIf="loading" class="full">
    <div class="row center vertical fh">
        <div class="row center fw">
            <div class="card" style="padding: 2em;">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <p class="text-center" style="margin-top: 1em; font-weight: 500;">loading</p>
                <button mat-button (click)="closeLoading()" style="width: 100%;">x</button>
            </div>
        </div>
    </div>
</div>