<div class="full" style="    background: url(./assets/other/pattern-coney-light.png); overflow-y: scroll;">

    <!--navbar-->
    <app-navbar [title]="title" 
    [status]="status" 
    [projectName]="projectName" 
    [conversationAccessLevel]="conversationAccessLevel"></app-navbar>

    <app-dashboard
    [rawAnswers]="rawAnswers" 
    [orderedQuestions]="orderedQuestions" 
    [meta1]="meta1" 
    [meta2]="meta2" 
    (refreshData)="refreshData()"
    (changeSurvey)="changeSurvey()"
    (exportData)="exportData()"></app-dashboard>


</div>

<!--loading part-->
<app-loading-spinner [loading]="loading" (stopLoading)="stopLoading()"></app-loading-spinner>